<h1>Hello</h1>
<h1>{{title}}</h1>
<p *ngIf="count > 5">I am visible</p>
<button (click)="increment()">Increment Count</button>
<br>
<br>
<button (click)="decrement()">Decrement Count</button>
<br>
<br>
<p>Numbers</p>
<li *ngFor="let item of listOfNumbers">{{item}}</li>
<br>
<p>Programming Languages</p>
<li *ngFor="let item of listOfPL">{{item}}</li>
<br>
<input type="text" [(ngModel)]="title">
<input type="text" [(ngModel)]="number1">
<input type="text" [(ngModel)]="number2">
<input type="text" id="A">
<button (click)="Add()">Add</button>